.heart {
  position: relative
}

.heart:before,.heart:after {
  position: absolute;
  content: "";
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  background: #cc2022;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

.heart-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fd1853;
  font-family: Montserrat,sans-serif;
  overflow: hidden;
  border: none
}

.heart-button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fff;
  position: absolute;
  transition: all .4s ease-in-out;
  right: 0
}

.heart-button:hover:after {
  right: auto;
  left: 0;
  width: 100%
}

.heart-button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 1px;
  color: #fffcfd;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: .3em;
  z-index: 20;
  transition: all .3s ease-in-out
}

.heart-button:hover span {
  animation: scaleUp .3s ease-in-out;
  color: #fd1853
}

.heart-button:hover {
  animation: scaleUp .3s ease-in-out
}

@keyframes scaleUp {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(.95)
  }

  to {
    transform: scale(1)
  }
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fd1853);
  z-index: -5;
  transition: all 1s cubic-bezier(.05,.83,.43,.96)
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fd1853);
  z-index: -5;
  transition: all 1s cubic-bezier(0,.4,0,1.01)
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fd1853);
  z-index: -5;
  transition: all 1s cubic-bezier(0,.4,0,1.01)
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fd1853);
  z-index: -5;
  transition: all .8s cubic-bezier(0,.4,0,1.01)
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fd1853);
  z-index: -5;
  transition: all .6s cubic-bezier(0,.4,0,1.01)
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fd1853);
  z-index: -5;
  transition: all .8s ease
}

button:hover .star-1 {
  position: absolute;
  top: -2%;
  left: 0%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fd1853);
  z-index: 2
}

button:hover .star-2 {
  position: absolute;
  top: 34%;
  left: 41.5%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fd1853);
  z-index: 2
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fd1853);
  z-index: 2
}

button:hover .star-4 {
  position: absolute;
  top: 0%;
  left: 55%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fd1853);
  z-index: 2
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 85%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fd1853);
  z-index: 2
}

button:hover .star-6 {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fd1853);
  z-index: 2
}

.heart-button {
  border: none;
  padding: .8rem;
  font-size: 1rem;
  width: 8em;
  border-radius: 1rem;
  background: #fd1853;
  box-shadow: 0 .4rem #dfd9d9;
  cursor: pointer
}

.heart-button:active {
  color: #fff;
  box-shadow: 0 .2rem #dfd9d9;
  transform: translateY(.2rem)
}

.heart-button:hover:not(:disabled) {
  background: #f08080;
  color: #fff;
  text-shadow: 0 .1rem #bcb4b4
}

.heart-button:disabled {
  cursor: auto;
  color: gray
}

.d-flex {
  display: flex!important
}

.justify-content-between {
  justify-content: space-between!important
}

.gap-5 {
  gap: 3rem!important
}
